aniso8601==1.1.0
BeautifulSoup==3.2.1
click==6.6
Flask==0.11
Flask-RESTful==0.3.5
grab==0.6.30
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
mechanize==0.2.5
pycurl==7.43.0
python-dateutil==2.5.3
pytils==0.3
pytz==2016.4
requestes==0.0.1
requests==2.10.0
selection==0.0.11
six==1.10.0
user-agent==0.1.4
weblib==0.1.20
Werkzeug==0.11.10
gunicorn==19.4.5
